.text-center {
  text-align: center;
}

.handsfree-debugger {
  width: 300px;
  margin: auto;
  margin-top: 40px;
}

button {
  font-size: 18px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

section {
  width: 800px;
  max-width: 100%;
  margin: auto;

  + section {
    margin-top: 60px;
  }
}

img {
  vertical-align: middle;
}

h2 {
  margin-top: 60px;
}

input {
  margin: 0 10px;
}

header {
  display: flex;
  margin-bottom: 60px;

  img {
    margin-right: 10px;
  }

  h1 small {
    font-size: 0.8em;
    display: block;
  }
}

table {
  width: 100%;

  td {
    vertical-align: top;
  }
}

.pad {
  padding: 20px;
}

.flip {
  transform: scale(-1, 1);
}
