html
  // Use negative values in clippy to position from bottom right
  .clippy, .clippy-balloon
    position fixed
    z-index 99
    left 0 !important
    top 0 !important
    transform translateX( calc(100vw - 150px) ) translateY( calc(100vh - 150px) ) !important