html, body
  background $panelBg

  a
    color $link

  button
    [data-prefix="fas"]
      margin-right .25em

  blockquote
    color $color

  code
    word-break break-word

  hr
    max-width 100%