html
  // Spacing
  .mt-0
    margin-top 0

  // Sizing
  .block
    width 100%

  // Columns
  .col-6
    width 50%

  // Examples
  .demo-focus-area
    overflow auto
    height 300px

    > div
      height 1090px
      // @see http://www.patternify.com/
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAP0lEQVQoU42Q0QoAIAgDz///aMPAKKeQb26HTg0tB6zKVUhI4Bus5tMn2K4Djh7gBGXM7Uvo5riQ/BfUNwwTWfn+Cgg4zkoRAAAAAElFTkSuQmCC')