@require '~styles/98.styl'
@require '~styles/core.styl'
@require '~styles/overrides.styl'

@require '~styles/helpers.styl'
@require '~styles/buttons.styl'
@require '~styles/navbar.styl'
@require '~public/handsfree/handsfree.css'

/**
 * Theme Overrides
 */
html
  .sidebar .sidebar-sub-headers
    padding-left 2em

  table
    display table
    table-layout fixed
    width 100%

/**
 * @TODO Organize the following better
 */
.text-center
  text-align center

.handsfree-debugger
  width 300px
  margin auto
  margin-top 40px

.pad
  padding 20px

.flip
  transform scale(-1, 1)

[class^='flex']
  display flex

.flex-row
  flex-direction row

.verticle-middle-children
  & > *
    vertical-align middle

.space-children
  & > *
    display inline-block
    margin-right 10px

img
  max-width 100%

hr
  margin 0
  border none
  width 400px
  height 1px
  opacity 0.5
  background linear-gradient(
    to right,
    red 20%,
    yellow 20%,
    yellow 36%,
    green 36%,
    green 60%,
    blue 60%,
    blue 100%
  )