html
  .navbar, .sidebar,
  .navbar .links
    background $panelBg
  .navbar .site-name
    color $link
    
  .search-box input
    background-position 7px 7px
    color $color
    font-size 1em
    padding-left 2em


@media (max-width: $MQMobile)
  .search-box
    margin-right: 2rem !important

  // Only show icons
  header.navbar
    button
      span:last-child
        display: none