html
  // Sidebar
  .sidebar
    padding 10px
    display flex
    flex-direction columns
    overflow hidden

    > .sidebar-links
      width 100%
      overflow auto
  
  .navbar, .sidebar,
  .navbar .links
    background $panelBg

  a.sidebar-link.active
    border-left-color transparent

  a.sidebar-link.active + ul .sidebar-link.active
    background none
    color $color
    font-weight 700
    outline: -webkit-focus-ring-color auto 1px
    outline-color: $link
    outline-style: dotted
    outline-width: 1px

  .sidebar > .sidebar-links > li > a.sidebar-link,
  .sidebar-heading
    font-weight normal
    font-size 1em
    
  .sidebar-links.sidebar-group-items
    overflow visible

  a.sidebar-link,
  .sidebar-heading
    padding-left .5em

  .sidebar > .sidebar-links > li:not(:first-child)
    margin-top 0

  // Buttons
  button
    color $color
    padding 1em

    &:hover, &:active
      background inherit

  // Code areas
  div[class*="language-"],
  .theme-default-content pre, .theme-default-content pre[class*="language-"]
    border-radius 0

  .theme-default-content code
    color $color
    background-color darken($panelBg, 10%)

  // Message blocks
  .custom-block.warning
    background-color rgba(255,229,100,0.7)

  // Blockquotes
  blockquote
    background #dfdfdf
    padding-top 2em
    padding-bottom 2em

  // Tables
  tr:nth-child(2n)
    background darken($panelBg, 8%)
    