// @see https://vuepress.vuejs.org/config/#palette-styl

// Colors
$panelBg = #c0c0c0
$link = #00f

// Blocks
$blockRed = #ff628c
$blockOrange = #FF9D00
$blockYellow = #fad000
$blockGreen = #2ca300
$blockTeal = #2EC4B6
$blockPurple = #5D37F0

// @see https://vuepress.vuejs.org/config/#palette-styl
$accentColor = $link
$badgeErrorColor = $blockRed
$badgeTipColor = $blockTeal
$badgeWarningColor = $blockOrange