include header.pug
  h1 Loading from npm
  p A minimal example from npm. This is mostly here as a template

script.
  // Create a new instance. Use one instance for each camera
  const handsfree = new Handsfree({})

  // Create a simple plugin that outputs weboji pose on every frame
  Handsfree.use('consoleLogger', ({ weboji }) => {
    console.log(`---
    Pitch ${(weboji.rotation[0] * 180) / Math.PI}
    Yaw ${(weboji.rotation[1] * 180) / Math.PI}
    Roll ${(weboji.rotation[1] * 180) / Math.PI}`)
  })
