include header.pug
  h1 BodyPix Minimal
  p A minimal example combining head tracking with BodyPix

script.
  // Create a new instance. Use one instance for each camera
  const handsfree = new Handsfree({
    debugger: {
      enabled: true
    },
    models: {
      head: {
        enabled: true
      },
      bodypix: {
        enabled: true
      }
    }
  })