include header.pug

  h2 Ghosted Pointer
  p Demonstrates fading out the pointer if the pointer is still after some time. This is <code>true</code> for Browser Extensions 

script.
  handsfree = new Handsfree()
  Handsfree.enable('weboji.ghostedPointer')