include header.pug

  button(onClick='recordGesture()') Record Gesture

script.
  handsfree = new Handsfree()
  //- handsfree.loadGestures({
  //-   facepointerActions: 'indexeddb://facepointerActions'
  //- })

  const recordGesture = function () {
    handsfree.recordGesture({
      models: ['weboji'],
      labels: ['base', 'click'],
      delaySeconds: 0,
      storeInIndexedDB: true,
      gestureSet: 'facepointerActions'
    }, (model) => {
      console.log('model saved')
    })
  }