include header.pug

  button(onClick='recordGesture()') Record Gesture

script.
  handsfree = new Handsfree()
  
  /**
   * Record a gesture
   */
  const recordGesture = function () {
    handsfree.recordGesture({
      name: 'facepointer',
      models: ['weboji'],
      labels: ['base', 'click'],
      delaySeconds: 1,
      download: true
    })
  }
  
  //- handsfree.loadGestures({
  //-   facepointerActions: 'indexeddb://facepointerActions'
  //- })

  //- const recordGesture = function () {
  //-   handsfree.recordGesture({
  //-     models: ['weboji'],
  //-     labels: ['base', 'click'],
  //-     delaySeconds: 0,
  //-     storeInIndexedDB: true,
  //-     gestureSet: 'facepointerActions',
  //-     download: true
  //-   }, (model) => {
  //-     console.log('model saved')
  //-   })
  //- }