include header.pug

  button(onClick='recordGesture()') Record Gesture

script.
  handsfree = new Handsfree()
  
  /**
   * Record a gesture
   */
  const recordGesture = function () {
    handsfree.recordGesture({
      name: 'facepointer',
      models: ['weboji'],
      labels: ['base', 'click'],
      delaySeconds: 1,
      download: true
    })
  }
  
  handsfree.loadGestures({
    facepointer: '/gestures/facepointer.json'
  }, () => {
    console.log('loaded')
  })