include header.pug

  button(onClick='recordGesture()') Record Gesture

script.
  handsfree = new Handsfree()
  
  const recordGesture = function () {
    handsfree.recordGesture({
      models: ['head', 'bodypix'],
      delaySeconds: 0
    })
  }