include header-cdn.pug
  h1 Loading from CDN
  p A minimal example using a CDN. This is mostly here as a template

script.
  // Create a new instance. Use one instance for each camera
  const handsfree = new Handsfree({weboji: true})
