doctype html
html
  title Handsfree.js Examples
  link(rel="stylesheet" href="assets/styles.sass")
  link(rel="stylesheet" href="https://unpkg.com/handsfree@6.1.2/dist/handsfree.css")
  script(src="https://unpkg.com/handsfree@6.1.2/dist/handsfree.js")
body
  section
    header
      div
        a(href='index.pug')
          img(src='../public/favicon.png' height=80)
      h1
        span Handsfree.js
        small
          a(href="https://handsfree.js.org") Learn more at handsfree.js.org
      div(style='padding: 20px;')
        button.handsfree-start(onclick='handsfree.start()') Start Webcam
    div
      section