doctype html
html
  title Handsfree.js Examples
  link(rel="stylesheet" href="assets/styles.scss")
  link(rel="shortcut icon", href="../public/favicon.png", type="image/x-icon")
  link(rel="stylesheet", href="../src/assets/handsfree.scss")
  script(src="./index.js")

body
  section
    header
      div
        a(href='index.pug')
          img(src='../public/favicon.png' height=80)
      h1
        span Handsfree.js
      div.pad
        button.handsfree-show-when-stopped.handsfree-hide-when-loading(onclick='handsfree.start()') Start Webcam
        button.handsfree-show-when-loading(disabled) Loading...
        button.handsfree-show-when-started(onclick='handsfree.stop()') Stop Webcam
    div
      section
    