include header.pug

  h2 Index
  p View the following examples to explore different concepts. Feel free to make a pull request with your own examples!

  script.
    handsfree = new Handsfree({weboji: true})
