include header.pug

  h2 Index
  p View the following examples to explore different ideas. Feel free to make a pull request with your own examples!</code>.
  table
    tr
      td
        h3 Basics
        ul
          each demo in [['00-from-cdn', 'From CDN'], ['01-from-npm', 'From npm'], ['02-adjust-pointer-sensitivity', 'Adjust pointer sensitivity'], ['03-blink-click', 'Blink Click'], ['04-bodypix-minimal', 'BodyPix minimal'], ['05-bodypix-weboji', 'BodyPix and Weboji'], ['10-scroll-focus', 'Scroll focus']]
            li
              a(href=`${demo[0]}.pug`)= demo[1]
      td
        h3 Intermediate
        ul
          each demo in [['06-bodypix-freeze-frame', 'BodyPix Freeze Frame'], ['07-stop-youtube-with-hand', 'Stop YouTube with hand'], ['08-rainbow-trip', 'Rainbow Trip'], ['09-million-clones', 'A Million Clones']]
            li
              a(href=`${demo[0]}.pug`)= demo[1]

script.
  handsfree = new Handsfree()
