include header.pug

  h2 Index
  p View the following examples to explore different concepts. Feel free to make a pull request with your own examples!
  table
    tr
      td
        h3 Basics
        ul
          li
            a(href='/from-cdn.pug') Minimal: From CDN
          li
            a(href='/adjust-pointer-sensitivity.pug') Adjust pointer sensitivity
          li
            a(href='/blink-to-click.pug') Blink to click
          li
            a(href='/scroll-focus.pug') Scroll focus
          li
            a(href='/ghosted-pointer.pug') Ghosted pointer
          li
            a(href='/posenet-min.pug') PoseNet Min

script.
  handsfree = new Handsfree({
    weboji: true
  })

  // Similar to window.addEventListener('handsfree-data')
  handsfree.on('data', data => {
    console.log('data', data)
  })