/* Pointer */
.handsfree-pointer {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #f00;
  border: 3px solid #f00;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  display: none;
}

.handsfree-pointer.handsfree-pointer-2 {
  border-color: #0f0;
}
.handsfree-started .handsfree-pointer {
  display: block;
}

.handsfree-hidden {
  display: none !important;
}

/* Loading states */
.handsfree-show-when-loading {
  display: none;
}
.handsfree-loading .handsfree-hide-when-loading {
  display: none;
}
.handsfree-loading .handsfree-show-when-loading {
  display: block;
}
.handsfree-loading a.handsfree-show-when-loading,
.handsfree-loading button.handsfree-show-when-loading,
.handsfree-loading span.handsfree-show-when-loading {
  display: inline-block;
}

/* Started/stop states */
.handsfree-stop {
  display: none;
}

.handsfree-started .handsfree-start {
  display: none;
}

.handsfree-started .handsfree-stop {
  display: block;
}
.handsfree-started a.handsfree-stop,
.handsfree-started button.handsfree-stop,
.handsfree-started span.handsfree-stop {
  display: inline-block;
}

/* Click animation */
body.handsfree-clicked .handsfree-pointer {
  background: #ff0;
  animation: shadow-pulse 0.15s 1;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0.45);
  }

  100% {
    box-shadow: 0 0 0 75px rgba(255, 0, 0, 0);
  }
}
